<form ng-submit="addCtrl.add(item)">
  <p>Name:
  <input class="form-control" type="text" ng-model="item.name"></input></p>
  <p>Bio:
  <input class="form-control" type="text" ng-model="item.bio"></input></p>
  <p>Image:
  <input class="form-control" type="text" ng-model="item.image"></input></p>
  <p>Like:
  <input class="form-control" type="text" ng-model="item.like"></input></p>
  <button class="btn btn-default"type="submit" ng-click="">Submit</button>
  <a href="/#/" class="btn btn-default">Cancel</a>
</form>
